Thumbs.db
Desktop.ini
.DS_Store
node_modules
gulpconfig.js
.idea/
**/assets/html/**
dist
output
.gulp
.vscode
ftl_remote
.temp
*.temp
check.log
**/*.tmp.ftl
npm-debug.log*
.project
**/config/path*.js
!**/config/path.sample.js
.happypack
.cache
*/manifest.json
package-lock.json
